* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  padding: 20px;
}

/*****whole WRAPPER margin settins*******/
.conten {
  width: auto;
  margin-left: -34px;
  margin-right: -34px !important;
  margin-top: -20px !important;
}
/*****whole WRAPPER margin settins*******/

/*****header*******/
header {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0.719)),
      to(rgba(0, 0, 0, 0.39))
    ),
    url(/imgs/chickens-4145198_1280.jpg);

  background-image: -o-linear-gradient(
      left,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.39)
    ),
    url(/imgs/chickens-4145198_1280.jpg);

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.39)
    ),
    url(/imgs/chickens-4145198_1280.jpg);
  width: 100%;
  height: 120vh;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/*****header*******/

/*****navbar-width settings*******/
.navbar-width {
  width: auto !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}
/*****navbar-width settings*******/

/*****navbar-background-color settings Begining*******/
.bg-light {
  background: rgba(0, 0, 0, 0.432) !important;
}
/*****navbar-background-color settings Ending*******/

/*****navbar-link-color settings Beginning*******/
.navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.658) !important;
  font-size: 30px !important;
}

/*****navbar-link-color settings Ending*******/

/*****headings like h1,h2,h3 Beginning *******/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 544%;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

h1::after {
  width: 50%;
  display: block;
  content: "";
  margin: 0 auto;

  border-bottom: 8px solid rgba(78, 34, 235, 0.616);
}

h2 {
  font-size: 24px;
  font-weight: bolder;
  word-spacing: 3px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.151);

  width: 87%;
  margin: 0 auto;
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

h3 {
  color: #fff;
  font-size: 23px;
  font-weight: bolder;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin-left: 19%;
}

.intro {
}

/*****headings like h1,h2,h3 Beginning *******/

/*****maincontent headings like Beginning *******/

.maincontent {
  max-height: 100vh;
  margin-left: 10px;
  margin-top: 20px;
}
.carousel-inner {
  width: 101% !important;
  max-height: 70vh;
}

/*****maincontent headings and carousel ending *******/
/***maincontent pic gallery headings and carousel begining *******/
#gall {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  color: black;
}
.carrd {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}
.cardbox {
  width: 100% !important;
  margin-bottom: 18px;
}

.card-body {
  background: rgba(0, 0, 0, 0.144);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-top: 1px;
}

.card-text {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
  height: 128px;
}

.card {
  width: 21rem !important;
}

/*****maincontent headings like h1,h2,h3 Beginning *******/

/*****wholefooter settins*******/
.footwidth {
  widows: 101px !important;
}
.jumbotron {
  margin-top: 30px;
  margin-bottom: -15px;
  height: 20vh;

}
.fa-heart {
  color: red;

}

.info{
text-align: center;

}
/*****wholefooter settins*******/
